<!-- START Footer -->
<footer>
    <div class="container-fluid">
        <p class="text-gray-dark">
            © 2016 - Your Company Name
        </p>
    </div>
</footer>
<!-- END Footer -->

</div>

<link rel="stylesheet" href="assets/vendor/css/lib.min.css">

<!-- JS -->


<script src="assets/javascript/app/helpers.js"></script>
<script src="assets/javascript/app/layoutControl.js"></script>
<script src="assets/javascript/app/rightSidebar.js"></script>
<script src="assets/javascript/app/sidebar.js"></script>
<script src="assets/javascript/app/main.js"></script>
</body>

</html>
