<%- include ../templates/header.ejs %>
    <div class="content" id="app">
            <!-- START Sub-Navbar with Header only-->
            <div class="sub-navbar sub-navbar__header">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="page-header m-t-0">
                                <h3 class="m-t-0">Starter HTML/CSS</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Sub-Navbar with Header only-->

            <!-- START Sub-Navbar with Header and Breadcrumbs-->
            <div class="sub-navbar sub-navbar__header-breadcrumbs">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 sub-navbar-column">
                            <div class="sub-navbar-header">
                                <h3>Starter HTML/CSS</h3>
                            </div>
                            <ol class="breadcrumb navbar-text navbar-right no-bg">
                                <li class="current-parent">
                                    <a class="current-parent" href="index.html">
                                        <i class="fa fa-fw fa-home"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Folder
                                    </a>
                                </li>
                                <li class="active">Starter HTML/CSS</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Sub-Navbar with Header and Breadcrumbs-->


            <div class="container">

                <!-- START Content -->
                <div class="row">
                <div class="col-lg-12">

                    <div class="panel panel-default no-bg b-a-2 b-gray-dark">

                        <div class="panel-heading">
                            <div class="btn-group pull-right" role="group" aria-label="...">
                                <button type="button" class="btn btn-sm btn-default"><i class="fa fa-angle-left"></i></button>
                                <button type="button" class="btn btn-sm btn-default"><i class="fa fa-angle-right"></i></button>
                            </div>
                            <h4 class="m-t-0 m-b-0">Servers</h4>

                        </div>

                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit maiores, sunt explicabo sapiente aspernatur possimus quas ipsam amet error! Repudiandae minima minus nemo neque quae quas impedit itaque nobis dignissimos.</p>
                        </div>

                        <!-- START Table -->
                        <div class="table-responsive">
                            <table class="table">
                                <thead>

                                    <tr>
                                        <th class="small text-muted text-uppercase" style="width: 20%"><strong>name</strong>
                                        </th>
                                        <th class="small text-muted text-uppercase"><strong>Count</strong>
                                        </th>
                                        <th class="small text-muted text-uppercase"><strong>Memory</strong>
                                        </th>
                                        <th class="small text-muted text-uppercase"><strong>CPU</strong>
                                        </th>
                                        <th class="small text-muted text-uppercase"><strong>Disk I/O</strong>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="servers">


                                    <tr>
                                        <td class="v-a-m">
                                            <h4 class="m-t-0">Name</h4>

                                        </td>


                                        <td class="v-a-m">
                                            <h4>12</h4>
                                            <span class="updating-chart">5,3,9,6,5,9,7,3,5,2,5,3,9,6,5,9,7,3,5,2</span>
                                        </td>
                                        <td class="v-a-m">
                                            <h4>33</h4>
                                            <span class="updating-chart">5,3,9,6,5,9,7,3,5,2,5,3,9,6,5,9,7,3,5,2</span>
                                        </td>
                                        <td class="v-a-m">
                                            <h4>10 %</h4>
                                            <span class="updating-chart">5,3,9,6,5,9,7,3,5,2,5,3,9,6,5,9,7,3,5,2</span>
                                        </td>
                                        <td class="v-a-m">
                                            <h4>89 KB/s</h4>
                                            <span class="updating-chart">5,3,9,6,5,9,7,3,5,2,5,3,9,6,5,9,7,3,5,2</span>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <!-- END Table -->

                    </div>
                </div>
            </div>
                    <!-- END Content -->

                </div>

            </div>

            <script>

          
            var data = <%- JSON.stringify(servers) %>;
        



            socket.emit("join", "test");
            socket.on('data-from-server', function (data) {
                console.log("data from server");
                });

                var myVar = <%- JSON.stringify(servers) %>;



                var updatingChart = $(".updating-chart").peity("line", {
                          width: 200,
                          fill: '#2a2a2a',
                          stroke: '#4ca8e1',
                          height: 33
                        });
                /*setInterval(function() {
                  var random = Math.round(Math.random() * 10)
                  var values = updatingChart.text().split(",")
                  values.shift()
                  values.push(random)

                  updatingChart
                    .text(values.join(","))
                    .change()
                }, 1000)*/

            </script>

<%- include ../templates/footer.ejs %>
